language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - hhvm

sudo: false

before_install:
  - composer self-update

install:
  - travis_retry composer install --no-interaction

before_script:
  - mysql -e 'create database telegrambot; use telegrambot; source structure.sql;'

script:
  - vendor/bin/phpunit
  - sh -c "if [ '$TRAVIS_PHP_VERSION' != '7.0' ]; then vendor/bin/phpcs --report=full --extensions=php -np --standard=build/phpcs .; fi"

matrix:
  allow_failures:
    - php: hhvm
    - php: 7.0
  fast_finish: true


notifications:
    on_success: never
    on_failure: always
