sudo: false

language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - hhvm

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true

notifications:
    on_success: never
    on_failure: always

git:
  depth: 1

before_install:
  - composer self-update

install:
  - travis_retry composer install --no-interaction

before_script:
  - mysql -e 'create database telegrambot; use telegrambot; source structure.sql;'

script:
  - ./vendor/bin/phpunit
  - ./vendor/bin/phpcs --standard=phpcs.xml -snp --encoding=utf-8 src/ --report-width=150
