<?xml version="1.0" encoding="UTF-8"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <description>PHP Code Sniffer</description>

    <arg value="snp"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="encoding" value="utf-8"/>
    <arg name="parallel" value="8"/>
    <arg name="report-width" value="150"/>

    <file>src/</file>
    <file>tests/</file>
    <file>utils/</file>

    <rule ref="PSR12">
        <exclude name="PSR12.Classes.OpeningBraceSpace.Found"/>
    </rule>
</ruleset>
