<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/Exception</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="error_reporting" value="-1"/>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
        <const name="PHPUNIT_DB_HOST" value="127.0.0.1"/>
        <const name="PHPUNIT_DB_PORT" value="3306"/>
        <const name="PHPUNIT_DB_NAME" value="telegrambot"/>
        <const name="PHPUNIT_DB_USER" value="root"/>
        <const name="PHPUNIT_DB_PASS" value="root"/>
    </php>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
