<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
        bootstrap="./tests/Bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        syntaxCheck="true"
        timeoutForLargeTests="60"
        timeoutForMediumTests="10"
        timeoutForSmallTests="1"
        verbose="false"
        >
    <php>
        <ini name="error_reporting" value="-1" />
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
<!--         <log type="coverage-html" target="build/coverage" title="Package" charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
 -->        <!--<log type="testdox-html" target="tests/testdox.html" logIncompleteSkipped="false" />-->
    </logging>
</phpunit>
